<div class="p-5 m-5">
  <div class="px-5 mx-5">
    <h2>
      {{titleText}}
    </h2>
    <form class="py-5" [formGroup]="productForm" (ngSubmit)="Submit()">
      <div class="form-group">
        <label>Nombre : </label>
        <input type="text" class="form-control" formControlName="title" />
      </div>
      <div class="form-group">
        <label>Categoria : </label>
        <select class="form-control" formControlName="cat_id">
          <option *ngFor="let cat of categoriesForForm" [value]="cat.id">{{cat.title}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Descripcion : </label>
        <textarea type="text" class="form-control" formControlName="description" >
        </textarea>
      </div>
      <div class="form-group">
        <label>Precio : </label>
        <input type="number" class="form-control" formControlName="price" />
      </div>
      <div class="form-group">
        <label>Image : </label>
        <input type="text" class="form-control" formControlName="image" />
      </div>
      <div class="form-group">
        <label>Images : </label>
        <input type="text" class="form-control" formControlName="images" />
      </div>
      <div class="form-group">
        <label>Cantidad : </label>
        <input type="number" class="form-control" formControlName="quantity" />
      </div>
      <div class="form-group">
        <label>Descripción corta : </label>
        <input type="text" class="form-control" formControlName="short_desc" />
      </div>
      <button class="btn btn-secondary" [routerLink]="['/admin/producto']" >
        Volver al menu
      </button>
      <input type="submit" [value]="btn_text"
      [ngClass]="idProduct ? 'btn btn-warning' : 'btn btn-success' "
      [disabled]=" productForm.status==='INVALID' "/>
    </form>
  </div>
</div>
