<footer class="footer">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-md-12">
            <div class="newsletter">
              <div class="d-flex justify-content-center">
                <img src="/assets/images/demos/demo-4/logo.png" class="footer-logo" alt="Footer Logo" width="400">
              </div>
              <div class="d-flex justify-content-center">
                <p>Síguenos en:</p>
              </div>              
            </div>
          </div>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div class="newsletter">
              <ul class="d-flex justify-content-center">
                <li>
                  <a href="#" class="lista"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#" class="lista"><i class="icon-pinterest"></i></a>
                </li>
                <li>
                  <a href="#" class="lista"><i class="icon-instagram"></i></a>
                </li>
                <li>
                  <a href="#" class="lista"><i class="icon-google"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div><!-- End .row -->
    </div><!-- End .container -->
  </div><!-- End .footer-middle -->

  <div class="footer-bottom">
    <div class="container">
      <div class="col-md-12 text-center">
        <span class="copyright">
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados |
          <span>M&M Accesorios</span>
        </span>
      </div>
    </div><!-- End .container -->
  </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->