<ngx-spinner bdColor="rgba(151,149,149,0.4)" size="medium" color="blue" type="line-scale-party"
    fullScreen="true">
    <p style="font-size: 20px; color: black">Procesando Pedido</p>
</ngx-spinner>


<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Revisa tu compra<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Revisa tu compra</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Detalles de facturación</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Primer Nombre *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Primer Apellido *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Dirección *</label>
                                <input type="text" class="form-control" placeholder="" required>
                                <input type="text" class="form-control" placeholder="" required>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Ciudad *</label>
                                        <input type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Telefono *</label>
                                        <input type="tel" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Correo electronico *</label>
                                <input type="email" class="form-control" required>

                                <label>Notas de pedido (opcional)</label>
                                <textarea class="form-control" cols="30" rows="4" placeholder="Notas sobre su pedido, p. Ej. notas especiales para la entrega"></textarea>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Su Pedido</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let c of cartData.data;">
                                            <td><a>{{c.numInCart}}x {{c.product.name}}</a></td>
                                            <td>{{(c.product.price*c.numInCart) | currency:'USD'}}</td>
                                        </tr>

                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>{{cartTotal | currency:'USD'}}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Envio:</td>
                                            <td>GRATIS</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{cartTotal | currency:'USD'}}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Transferencia Bancaria
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                    PayPal
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Realiza pagos en línea en Colombia con la certeza que tu información personal está segura con PayPal.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Tarjeta de Crédito
                                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                            <div class="card-body"> 
                                                Tarjeta de Crédito Visa, Mastercard o American Express. Encuentra tarjetas de crédito para viajar, con devolución de efectivo o sin cuota de manejo.
                                            </div><!-- End .card-body -->
                                        </div><!-- End .collapse -->
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" [disabled]="cartTotal <= 0 "
                                (click)="onCheckout()">
                                    <span class="btn-text">Realizar Pedido</span>
                                    <span class="btn-hover-text">Comprar</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<div class="text-center my-5" *ngIf="cartData.total <= 0">
    <h4>Tu carrito esta vacío</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">IR A LA TIENDA</button>
</div>